@import 'base';

.App {
  margin: 0;
  height: 100vh;
  text-align: center;
}

* {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s;
}

.App-header {
  background-color: $color6;
  display: flex;
  position: absolute;
  height: 32px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $color1;
}

.App-body {
  background: url('../background.jpg') no-repeat center center / cover;
  height: 100vh;
  max-height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

button {
  font-weight: bold;
  border: $color6 1.6px solid;
  background-color: $color3;
  color: $color6;
  cursor: pointer;
  transition: 0.3s ease;
}

button.hide {
  cursor: default;
}

button:hover:not(.hide) {
  background-color: $color2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

button:active:not(.hide) {
  background-color: $color1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  transform: scale(0.95);
}