@import 'base';

.input-cont {
    z-index: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    display: flex;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to bottom, $color2, $color3);

    * {
        margin: 2.5px;
    }

    .addButt {
        font-size: 15px;
        height: 40px;
        width: 40px;
        margin: 10px;
        border-radius: 10px;
    }

    .input-field {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        display: flex;

        .two-inputs {
            width: 95%;

            * {
                width: 100%;
            }

            .input-task {
                border: $color5 2px solid;
                width: 100%;
                padding: 2px;
                margin-bottom: 0px;
                font-size: 20px;
                font-weight: bold;
                border-radius: 6px 6px 0 0;
                box-shadow: 0 2px 5px rgba(51, 51, 51, 0.3);
                background-color: $color1;
            }

            .input-task.show:hover {
                border: $color6 2px solid;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
            }

            .textarea {
                border: $color6 1.5px solid;
                width: 100%;
                padding: 0px;
                margin-top: 0;
                font-size: 16px;
                height: 0px;
                overflow: hidden;
                transition: 500ms ease;
                border-radius: 0 0 4px 4px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
                background-color: $color1;
                transform-origin: top;
                transform: scaleY(0);
                resize: none;
            }

            .textarea.show {
                height: 75px;
                padding: 2px;
                transform: scaleY(1);
            }
        }
    }
}

.input-cont.hide {
    filter: blur(5px);
}


@media (max-width: 780px) {
    .input-cont {
        .addButt {
            font-size: 10px;
            height: 30px;
            width: 30px;
            margin-left: 5px;
            margin-right: 5px;
        }

        .input-field {
            margin: 0px;

            .two-inputs {
                .input-task {
                    font-size: 15px;
                }

                .textarea {
                    font-size: 10px;
                }

                .textarea.show {
                    height: 50px;
                }
            }
        }
    }
}