$sch-void: #0E0B16;
$sch-ink: #062F4F;
$sch-posy: #813772;
$sch-embers: #B82601;
@import 'base';


.list-cont {
    margin-top: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    display: flex;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to bottom, $color3, $color4);
    padding: 4px;
}

.list-cont.hide {
    filter: blur(5px);
}

.list-field {
    margin: 2.5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.list-field.hide {
    filter: blur(5px);
}

.task-field {
    margin-bottom: 0px;
    flex-direction: row;
    align-items: center;
    display: flex;
    width: 100%;
    position: relative;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: $color6;
    padding: 3px;
}

.task-field * {
    margin: 2px;
}

.task-name {
    font-weight: bold;
    font-size: 25px;
    color: $color1;
    margin: 3px;
    cursor: grab;
}

.task-name.hide {
    cursor: default;
}

.subtask-detail {
    display: flex;
    justify-content: left;
    width: 100%;
    margin-top: 0px;
    height: 0px;
    overflow: hidden;
    transition: 500ms ease;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: $color5;
}

.subtask-text {
    font-size: 16px;
    color: $color2;
    margin: 2.5px;
}

.subtask-text.strikethrough {
    color: $color2;
}

.subtask-detail.show {
    height: 75px;
}

.strikethrough {
    text-decoration: line-through;
    color: $color4;
}

.taskButt {
    font-size: 13px;
    height: 30px;
    width: 45px;
    text-align: center;
    padding: 1px;
    border-radius: 40%;
}

.taskButt.edit {
    position: absolute;
    right: 102px;
}

.taskButt.done {
    position: absolute;
    right: 52px;
}

.taskButt.del {
    position: absolute;
    right: 2px;
}

.task-field.trans {
    opacity: 0.75;
    background-color: $sch-void;

}

.subtask-detail.trans {
    opacity: 0.75;
    background-color: #888888;
}

.taskButt.trans {
    color: #000000;
    background-color: white;
}

.listedit-cont {
    position: absolute;
    z-index: 2;
    margin-top: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    display: flex;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to bottom, $sch-void, #ffffff);
    padding: 4px;


    .addButt {
        font-size: 15px;
        height: 40px;
        width: 40px;
        margin: 10px;
        border-radius: 10px;
    }
}

.list-edit {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    padding: 5px 3px 0 3px;

    .addButt {
        font-size: 15px;
        height: 40px;
        width: 40px;
        margin: 10px;
        border-radius: 10px;
    }

    .two-inputs {
        width: 95%;

        * {
            width: 100%;
        }

        .input-task {
            border: #696969 2.5px solid;
            width: 100%;
            padding: 2px;
            margin-bottom: 0px;
            font-size: 25px;
            font-weight: bold;
            border-radius: 6px 6px 0 0;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
            background-color: #e0e0e0;
        }

        .input-task:hover {
            border: #000000 2.5px solid;
        }

        .textarea {
            width: 100%;
            padding: 0px;
            margin-top: 0;
            font-size: 16px;
            height: 0px;
            overflow: hidden;
            transition: 500ms ease;
            border-radius: 0 0 4px 4px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
            background-color: #ffffff;
            transform-origin: top;
            transform: scaleY(0);
            resize: none;
        }

        .textarea.show {
            height: 75px;
            padding: 2px;
            transform: scaleY(1);
        }
    }
}


@media (max-width: 780px) { 
    .task-name {
        font-size: 15px;
    }
    
    .subtask-text {
        font-size: 10px;
    }
    
    
    .subtask-detail.show {
        height: 50px;
    }
    
    .taskButt {
        font-size: 9px;
        height: 24px;
        width: 30px;
    }
    
    .taskButt.edit {
        right: 70px;
    }
    
    .taskButt.done {
        right: 35px;
    }
    
    .taskButt.del {
        right: 2px;
    }
}