* {
    box-sizing: border-box;
}

.username-Cont {
    position: absolute;
    width: 100%;
    height: 100%;
}

.username-Field {
    position: relative;
    width: 100%;
    height: 100%;
}

.username-butt {
    position: absolute;
    right: 15px;
    top: 25px;
}

.username-butt.hide {
    filter: blur(5px);
}

.usernameinput-cont {
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 50%;
    width: 375px;
    height: 100px;
    border-radius: 5px;
    box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.3);
    border: blue 1px solid;
    background-color: #00ffe1;
    padding: 1.7px;
    transition: 0.5s;
}

.usernameinput-cont.show {
    transform: translate(-50%, -50%);
    transition: 0.5s;
}

.usernameinput-cont.hide {
    top: -175px;
    transition: 0.5s;
}

.input-username {
    margin-right: 12px;
    height: 32px;
    font-weight: bold;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    padding: 2px;
}

.username-cont-butt {
    padding: 2px;
    border-radius: 3px;
    font-weight: bold;
    border: #064e1a 1.6px solid;
    background-color: #fff700;
    color: #064e1a;
    cursor: pointer;
    transition: 0.3s ease;
}

.username-cont-butt:hover:not(.hide) {
    background-color: #ddff75;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.username-cont-butt:active:not(.hide) {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    transform: scale(0.95);
}