.input-cont {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    display: flex;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #ff5722;
}

.input-cont * {
    margin: 2.5px;
}

.addButt {
    font-size: 15px;
    height: 40px;
    width: 40px;
    margin: 10px;
    border-radius: 10px;
}


.input-field {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
}

.two-inputs {
    width: 90%;
}

.two-inputs * {
    width: 100%;
}

.input-task {
    width: 100%;
    padding: 2px;
    margin-bottom: 0px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #e0e0e0;
}

.textarea {
    width: 100%;
    padding: 0px;
    margin-top: 0;
    font-size: 16px;
    height: 0px;
    overflow: hidden;
    transition: 500ms ease;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    transform-origin: top;
    transform: scaleY(0);
    resize: none;
}

.textarea.show {
    height: 75px;
    padding: 2px;
    transform: scaleY(1);
}
