.App {
  text-align: center;
}

* {
  border: red solid 2px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App-header {
  background-color: #282c34;
  display: flex;
  height: 5vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #737983;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.input-cont, .list-cont {
  width: 40%;
  display: flex;
}

button {
  height: 40px;
  width: 40px;
  margin: 10px;
  border-radius: 10px;
}

.input-field {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;
}

.two-inputs {
  width: 90%;
}

.two-inputs * {
  width: 100%;
}

.textarea {
  margin-top: 5px;
  height: 0px;
  overflow: hidden;
  transition: height 300ms ease;
}

.textarea.show {
  height: 75px;
}