.App {
  text-align: center;
}

* {
  border: red solid 2px; 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App-header {
  background-color: #282c34;
  display: flex;
  height: 5vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #737983;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.input-cont, .list-cont {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  display: flex;
}

button {
  height: 40px;
  width: 40px;
  margin: 10px;
  border-radius: 10px;
}

.input-field {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;
}

.two-inputs {
  width: 90%;
}

.two-inputs * {
  width: 100%;
}

.textarea {
  margin-top: 1px;
  height: 0px;
  overflow: hidden;
  transition: height 300ms ease;
}

.textarea.show {
  height: 75px;
}

.list-field {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
}

.task-name {
  width: 100%;
  position: relative;
  padding-right: 20px;
}

.task-name::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%) rotate(45deg); /* Rotate the pseudo-element */
  width: 10px;
  height: 10px;
  border-top: 3px solid #ffffff; /* Adjust the styling of the icon */
  border-right: 3px solid #ffffff;
}


.subtask-detail {
  width: 100%;
  margin-top: 1px;
  height: 0px;
  overflow: hidden;
  transition: height 300ms ease;
}

.subtask-detail.show {
  height: 100px;
}